{% extends 'enroll/base.html'%}
{% block title %} Set_Password_Page {% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="col-sm mx-auto border rounered py-4 px-4">
<div class="form-group  mx-auto">
    
<h3 class="alert alert-info border rounded">
    Set Password
    </h3>
<form action="" method="POST" class="form-control" class="d-inline">
    {% csrf_token %}
    {% for form in form %}
     {{form.label_tag}}
     <p>
     {{form}}
     </p>
     {{form.errors|striptags}} 
    {% endfor %}

    <input type="submit" value="Set_Password" class="btn btn-primary btn-sm">
    <a href="{% url 'home' %}" class="btn btn-warning btn-sm">Back_To_Home</a>
</form>
</div>
</div>
</div>

{% for message in messages %}
{{message}}
{% endfor %}
{% endblock %}
